@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, svg, video{
	max-width: 100%;
	display: inline-block;
}

body {
    font-family: "Nunito", sans-serif;
}

h1 {
    color: #0f0;
}

h2 {
    color: #0bf;
    font-family: "Nunito", sans-serif;
}

span {
    background-color: #fa0;
}

header nav ul li a {
    text-decoration: none;
    color: #00f;
}

header nav {
    background-color: #a0f;
}

.subtitulo-dos {
    color: #0f0;
    text-decoration: underline;
    font-weight: 400;
    font-style: italic;
}

#ecommerce-title {
    /* color: #a0f; */
    font-size: 40px;
    text-align: center;
}

.parrafo-rojo {
    color: #f00;
}

.parrafo-italic {
    font-style: italic;
}

#titulo-ecommerce {
    text-transform: uppercase;
}

p {
    color: #a0f;
}